.nav {
	grid-area: nav;
	background-color: #ee7676;
	color: #ffffff;
	padding: 15px;
	height: 100%;
}

.item a {
	color: #ffffff;
	text-decoration: none;
}

a.activeLink {
	color: black;
}
