.app-wrapper {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	padding: 15px;
	grid-template-areas:
		"header header header"
		"nav conten conten";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.nav {
	grid-area: nav;
	background-color: green;
	color: #ffffff;
	padding: 15px;
}

img {
	display: block;
}
